.field {
  display: flex;
  flex-direction: column;
  background-color: var(--gray);
  border-radius: var(--radius);
  gap: var(--spacing);
  padding: var(--spacing);
}

.control {
  display: flex;
  justify-content: flex-end;
  background-color: var(--bg);
  border-radius: var(--radius);
}
