.btn {
  padding: 5px;
  border-radius: var(--radius);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition-property: background-color, color;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.primary {
  background-color: var(--primary);
  color: white;
}

.secondary {
  background-color: var(--secondary);
}

.success {
  background-color: var(--success);
  color: white;
}

.warning {
  background-color: var(--warning);
  color: white;
}

.error {
  background-color: var(--error);
  color: white;
}

.info {
  background-color: var(--info);
  color: white;
}
