.field {
  position: relative;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: var(--spacing);
  border-radius: var(--spacing);
  background-color: var(--gray);
  width: 100%;

  > svg {
    opacity: 0.5;
    height: 15px;
    width: 15px;
  }
}

.label {
  position: absolute;
  top: -12px;
  left: 15px;
  font-size: 0.7rem;
  background-color: var(--bg);
  padding: 2px 10px;
  border-radius: var(--radius);
  color: var(--dark);
}

.input {
  outline: none;
  border: 0;
  width: 100%;
  color: var(--dark);

  &::placeholder {
    color: var(--dark);
    opacity: 0.5;
  }
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}
