.title-1 {
  --size: 2.2rem;
}

.title-2 {
  --size: 2rem;
}

.title-3 {
  --size: 1.8rem;
}

.title-4 {
  --size: 1.6rem;
}

.title-5 {
  --size: 1.4rem;
}

.title-6 {
  --size: 1rem;
}

.title-1,
.title-2,
.title-3,
.title-4,
.title-5,
.title-6 {
  font-size: var(--size);
  font-weight: 600;
  color: var(--dark);
  margin-bottom: calc(var(--spacing) * 2);

  &:last-of-type {
    margin-bottom: 0;
  }
}

.subtitle {
  font-size: 0.8rem;
  margin-bottom: calc(var(--spacing) * 2);

  &:last-of-type {
    margin-bottom: 0;
  }
}

.text {
  font-weight: 600;
  margin-bottom: calc(var(--spacing) * 2);

  &:last-of-type {
    margin-bottom: 0;
  }
}

.tooltip {
  font-weight: 400;
}
