.title1 {
  --size: 2.2rem;
}

.title2 {
  --size: 2rem;
}

.title3 {
  --size: 1.8rem;
}

.title4 {
  --size: 1.6rem;
}

.title5 {
  --size: 1.4rem;
}

.title6 {
  --size: 1rem;
}

.title1,
.title2,
.title3,
.title4,
.title5,
.title6 {
  font-size: var(--size);
  font-weight: 600;
  color: var(--dark);
  margin-bottom: calc(var(--spacing) * 2);

  &:last-of-type {
    margin-bottom: 0;
  }
}

.subtitle {
  font-size: 0.8rem;
  margin-bottom: calc(var(--spacing) * 2);

  &:last-of-type {
    margin-bottom: 0;
  }
}

.text {
  font-weight: 600;
  margin-bottom: calc(var(--spacing) * 2);

  &:last-of-type {
    margin-bottom: 0;
  }
}

.tooltip {
  font-weight: 400;
}
