.logo {
  display: flex;
  align-items: center;
  gap: var(--spacing);
  font-size: 1.8rem;
  font-family: var(--font-secondary);
  font-weight: 300;
  color: var(--heading);
  line-height: 1.7rem;

  @media only screen and (max-width: 350px) {
    font-size: 1.3rem;
  }
}

.logoSvg {
  height: 35px;
  width: 35px;
  fill: var(--dark);
  animation: rotate 100s infinite linear;

  @media only screen and (max-width: 350px) {
    height: 25px;
    width: 25px;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
