.detail {
  display: flex;
  flex-wrap: wrap;
  gap: calc(var(--spacing) * 2);
  width: 100%;
}

.productsContainer {
  display: flex;
  gap: calc(var(--spacing) * 2);
  flex-direction: column;
}

.products {
  display: flex;
  gap: calc(var(--spacing) * 2);
  flex-direction: column;
}

.product {
  display: flex;
  gap: 20px;
  padding: var(--spacing);
  border: 1px solid color-mix(in srgb, var(--dark) 20%, var(--light) 80%);
  border-radius: calc(var(--spacing));
  background-color: var(--bg);
  position: relative;
  z-index: 0;
}

.imgContainer {
  flex: 0 0 80px;
  position: relative;

  > img {
    border-radius: calc(var(--radius));
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
  }
}

.productInfo {
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
}

.title {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.quantityContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.quantity {
  display: flex;
  align-items: center;

  > span {
    font-size: 1rem;
    opacity: 0.5;
  }
}

.cost {
  display: flex;
  gap: 10px;

  > span {
    font-size: 1rem;
    opacity: 0.5;
  }
}

.total {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;

  @media only screen and (max-width: 530px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.contacts {
  display: flex;
  gap: 20px;

  @media only screen and (max-width: 576px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.column {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
  width: 100%;
  min-width: 150px;
}

.field {
  position: relative;
  border-radius: var(--radius);
  background-color: var(--bg);

  > label {
    position: absolute;
    font-size: 13px;
    top: 0px;
    left: 0px;
    opacity: 0.5;
  }

  > p {
    padding: 20px 10px 10px 0px;
    transition: all 0.5s ease 0s;
    width: 100%;
  }
}
