.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--border);
}

.container {
  display: flex;
  align-items: center;
  padding: calc(var(--spacing)) calc(var(--spacing) * 2);
  width: 100%;
  max-width: 1920px;
  box-shadow: 0 0 200px var(--shadow);
}

.menu {
  flex-grow: 1;
  display: flex;
  gap: calc(var(--spacing) * 2);

  @media only screen and (max-width: 1180px) {
    display: none;

    &.show {
      position: fixed;
      top: 60px;
      left: 0;
      z-index: 2;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      background-color: var(--bg);
      padding: calc(var(--spacing)) calc(var(--spacing) * 2);
      height: 100%;
      width: 100%;

      .menuHeader {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
  }
}

.desktop {
  display: flex;
  width: 100%;

  @media only screen and (max-width: 1180px) {
    display: none;
  }
}

.mobile {
  display: none;

  @media only screen and (max-width: 1180px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: calc(var(--spacing) * 2);
    width: 100%;
  }
}
