.overlay {
  display: grid;
  place-items: center;
  background-color: rgb(0 0 0 / 80%);
  position: relative;
  z-index: 1;
}

.dialog {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 2);
  margin: calc(var(--spacing) * 2);
  background-color: var(--light);
  padding: calc(var(--spacing) * 2);
  border-radius: var(--radius);
}
