.notes {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 2);
  margin-top: calc(var(--spacing) * 4);
  position: relative;
}

.more {
  position: absolute;
  bottom: 0;
  height: 400px;
  z-index: -1;
  width: 100%;
}
