.items {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 2);
  padding: calc(var(--spacing) * 2);
  box-shadow:
    2px 4px 50px var(--shadow),
    0 0 0 1px var(--shadow);
  border-radius: var(--radius);
}

.item {
  display: flex;
  gap: calc(var(--spacing));
  border-radius: var(--radius);
  animation-name: fadeIn;
  animation-duration: 0.5s;
}

.avatar {
  flex: 0 0 50px;
  width: 50px;
  height: 50px;
  position: relative;

  > img {
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
    width: 100% !important;
    position: relative !important;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.content {
  > span {
    opacity: 0.5;
  }
}
