.notes {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 2);
  position: relative;
  margin-top: var(--spacing);
}

.more {
  position: absolute;
  bottom: 0;
  height: 400px;
  z-index: -1;
  width: 100%;
}

.post {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 2);
  position: relative;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  background-color: var(--gray);
  padding: calc(var(--spacing) * 2);
  border-radius: var(--radius);
}

.header {
  display: flex;
  flex-direction: row;
  gap: var(--spacing);
}

.headerInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) / 2);
}

.name {
  color: var(--dark);
}

.date {
  display: flex;
  justify-content: center;
  margin-bottom: var(--spacing);
  opacity: 0.5;
}

.card {
  display: flex;
  gap: calc(var(--spacing) * 2);
  width: 100%;
}

.control {
  opacity: 0.5;
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
  width: 100%;
}

.time {
  display: flex;
  justify-content: flex-start;
  opacity: 0.5;
  font-size: 0.9rem;
}

.avatar {
  flex: 0 0 50px;
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;

  > img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.actions {
  display: flex;
  align-items: center;
  gap: var(--spacing);
}

.like {
  padding: var(--spacing);
  border-radius: var(--radius);
}
